.footer {
    background-color: #ff0000; /* Pakistan Green */
    color: white;
    padding: 20px 0; /* Reduced height */
    /* margin-top: 50px; */
  }
  
  .footerRow {
    display: flex;
    justify-content: space-between; /* Align items in a row */
  }
  
  .footer h5 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .footer p {
    color: #ddd;
  }
  
  .contactInfo {
    list-style: none;
    padding: 0;
  }
  
  .contactInfo li {
    margin-bottom: 8px;
    color: #fff;
  }
  
  .contactInfo li svg {
    margin-right: 10px;
  }
  
  .socailmedia {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  
  .socailmedia li a {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    display: flex;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    border: 1px solid #ff0000;
  }
  
  .socailmedia li a svg {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(57deg) brightness(108%) contrast(105%);
  }
  
  .socailmedia li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    background-color: #fff;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .socailmedia li a:hover::after {
    animation: sideClip 0.5s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
  
  .socailmedia li a:hover svg {
    animation: fadeInLeft 0.3s linear both;
    filter: invert(52%) sepia(85%) saturate(2286%) hue-rotate(54deg) brightness(92%) contrast(84%);
  }
  
  @keyframes sideClip {
    0% {
      clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    }
  
    50% {
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }
  
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  
  .divider {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight:600;
    color: #ffffff;
  }
  