/* Main Navbar Styles */
.main-navbar {
    height: 80px; /* Height for the main navbar */
    background-color: #fff; /* Light background */
    border-bottom: 1px solid #ccc; /* Subtle bottom border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Adding padding for spacing */
}

.navbar-brand img {
  height: 35px; /* Adjust height as needed */
  width: auto;  /* Keeps aspect ratio, or set a fixed width if preferred */
  max-width: 100%; /* Ensures the image scales properly in responsive views */
}


/* Links Section */
.links-section {
  height: var(--links-section-height, 30px);
  background-color: var(--pakistan-green, #00401A);
  padding: 0.5rem 1.5rem; /* 5px and 15px converted to rem units */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.links-section .nav-link {
    color: white;
    margin: 0 15px;
    font-size: 1rem;
    position: relative; /* Allow the use of pseudo-elements for hover effect */
    transition: color 0.3s ease-in-out; /* Smooth transition on hover */
}

.links-section .nav-link:hover {
    color: #f8f9fa; /* Lighten the color on hover */
    text-decoration: underline; /* Add underline on hover */
}

/* Button Styles */
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* Join Us button styling */
  .button {
    --text-stroke-color:#00401A;
    --animation-color: #00401A;
    --fs-size: 1.3em;
    letter-spacing: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: #00401A;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;
    content: attr(data-text);
    color: #ffff;
    background-color:var(--animation-color);
    border-radius: 10px;
    width: 0%;
    inset: 0;
    border: 3px solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }
  
