.featurePage {
    padding: 20px;
    position: relative;
}

.backToHomeTop {
    position: absolute;
    top: 16px;
    left: 13px;
}
.button {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button:before,
  .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 4px solid #ff0000;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button:after {
    border: 4px solid #ff0000;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button:hover:before,
  .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button:hover:after,
  .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .buttonbox {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .buttonelem {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #ff0000;
  }
  
  .button:hover .buttonbox,
  .button:focus .buttonbox {
    transition: 0.4s;
    transform: translateX(-56px);
  }
  

  .backToHomeBottom {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learnmore {
    width: 12rem;
    height: auto;
  }
  
  button.learnmore .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px rgb(255, 0, 0);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ff0000;
    border-radius: 1.625rem;
  }
  
  button.learnmore .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    transform: rotate(180deg);
    margin-left: 10px;
  }
  
  button.learnmore .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learnmore .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learnmore .buttontext {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin-left: 1.85rem;
    
    color: rgb(255, 0, 0);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button.learnmore:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px rgb(255, 0, 0);
  }
  
  button.learnmore:hover .buttontext {
    transform: translate(6px, -2px);
    color: #ffffff;
    z-index: 1000;
  }
  
  button.learnmore:hover .circle .icon.arrow {
    background: #fff;
    transform: translateY(-2px);
    transform: rotate(180deg);
  }
  
  button.learnmore:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
  }
  
.sectionTitle {
    text-align: center;
    font-size: 36px;
    color: #ff0000;
    margin-bottom: 40px;
    font-style:oblique;
    font-weight: bolder;
}
.sectionDivider {
    height: 2px; 
    background-color: #ff0000;
    margin: 20px 0; 
    width: 100%; 
    /* box-shadow: 0 12px 14px rgba(255, 0, 0, 0.5); */
}

.featuresContainer {
    margin: 20px 0;
    padding: 0 15px;
}

.featureCard:hover {
    transform: scale(1.02);
}

.featureImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.featureTitle {
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff0000;
    margin: 10px 0;
}

.featureDivider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50px;
}
.topbutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgb(255, 0, 0);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: rgb(0, 0, 0);
  }
  
  .topbutton:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 0, 0);
    border: 4px solid #fff;
    align-items: center;
  }
  
  .topbutton:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .topbutton::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 10px;
  }
  
  .topbutton:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
.featureIcon {
    margin-right: 10px;
    color: #ff0000;
}

.featureDescriptionContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
}

.featureDescription {
    width: calc(100% - 350px);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    overflow-wrap: break-word;
}

.featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 1000px 4px rgb(255, 0, 0);
    min-width: 300px;
    max-width: 350px;
    height: auto;
    margin: 10px;
    transition: transform 0.2s;
}

@media (max-width: 768px) {
    .featureDescriptionContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .featureDescription {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .featureCard {
        width: 100%;
    }
}
